* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;

  text-align: justify;       /* Выравнивание по ширине */
  text-align-last: left;     /* Последняя строка - по левому краю */
  hyphens: auto;             /* Перенос слов (опционально) */
}


body {
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
}


h1 {
  font-size: 2.5rem;
}


.content {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  background-color: #FFC6A3;
}